
body {
	color: #000000;
	font-family: "Lucida Sans Unicode";
	font-size: 12px;
}

table {
	border-collapse: collapse;
}

caption {
	color: #000000;
}

th {
	background: #DDDDDD;
	color: #003399;
    font-size: 14px;
    font-weight: normal;
    padding: 10px 8px;
}

tr.even {
	background: #E8EDFF;
}

tr.odd {
	background: #FFFFEE;
}

td {
	vertical-align: top;
	color: #333366;
	padding: 8px;
}