
body {
	color: #000000;
	font-family: "Lucida Sans Unicode";
	font-size: 12px;
}

table {
	border-collapse: collapse;
}

caption {
	color: #000000;
}

th {
	background: #DDDDDD;
	color: #003399;
    font-size: 14px;
    font-weight: normal;
    padding: 10px 8px;
}

tr.even {
	background: #E8EDFF;
}

tr.odd {
	background: #FFFFEE;
}

td {
	vertical-align: top;
	color: #333366;
	padding: 8px;
}

td.hidden  {
	display: none;
}

div.details {
	float:left;
	width: 50%;
	margin-right: 20px;
	background: #FFFFCC;
	border: 1px solid #000000;
	padding: 4px;
}

div.tipBox {
	  display: none; 
      position: absolute; 
      border:solid 2px #003300; 
      background: #66FF66;
	  color: #003300;
	  text-align: center;
	  font-family: Lucida Sans Unicode;
	  font-size: 12px;
	  font-weight: bold;
	  padding: 8px;	
}