<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<!--
/***********************************************************************************************************************
 * Contributors: Stefano Celentano, Lorenzo Furrer
 **********************************************************************************************************************/
-->
<plugin>
   <extension
         id="it.polimi.mdir.modelcrawler"
         name="it.polimi.mdir.modelcrawler"
         point="org.eclipse.smila.connectivity.framework.schema.extension">
      <schema
            class="it.polimi.mdir.modelcrawler.DataSourceConnectionConfigPluginImpl">
      </schema>
   </extension>

</plugin>
